<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/{{title}}.css"/>
<script src="/javascripts/{{title}}.js"></script>
</head>

<body>
  <h1>404</h1>
</body>

</html>