<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/{{title}}.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/{{title}}.css"/>
</head>

<body>
  <h1>bubbles<h1>
  <div id="bubbleBox">
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
  </div>
</body>

</html>