<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>{{title}}</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>

<body>
  <header>dev.jerometufte.me</header>
  <h1>dev space!</h1>
  <ul>
    <li>bubbles</li>
    <li>calculator</li>
    <li>ios4-scroll</li>
    <li>ios4-scroll2</li>
    <li>iphone-radial</li>
    <li>iphone-test</li>
    <li>measkenny</li>
    <li>pageable</li>
    <li>peelable</li>
    <li>padlock</li>
    <li>sliding-menu</li>
  </ul>
</body>

<script>
  $(document).ready(function(){
    $('li').on('click', function(){
      var project = $(this).html();
      var URL = 'http://dev.jerometufte.me/' + project
      window.open(project);
    });
  });
</script>

</html>