<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>{{title}}</title>
<script type="text/javascript" src="/javascripts/jquery-min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/{{title}}.css"/>
<script src="/javascripts/{{title}}.js"></script>
</head>

<body>
  <header>dev.jerometufte.me</header>
  <h1>padlock</h1>
  <h2>touch screen and spin like a padlock</h2>
  <button id="setPassword">Set Password!</button>
  <span id="passwordNotifier"></span>
  <div id="container"></div>
  <div id="truthiness"></div>
</body>

</html>
