<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/swipecore-0.5.3.js"></script>
<script type="text/javascript" src="/javascripts/swipecore.utils.js"></script>
<script type="text/javascript" src="/javascripts/swipecore.geometry.js"></script>
<script type="text/javascript" src="/javascripts/swipecore.transform.js"></script>
<script type="text/javascript" src="/javascripts/swipecore.peelable-flipped.js"></script>
<script type="text/javascript" src="/javascripts/{{title}}.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/{{title}}.css"/>
</head>

<body>
  <h1>peelable demo</h1>

  <!-- <div id="container">
  	<div id="peelable-demo"></div>
  	<div id="corner">
  		<div id="peel">
  			<img src="peel-flipped.png" alt="">
  		</div>
  		<div id="under">
  			<div id="content">
  				<div id="peel-upper">
  					<div id="view-desktop"></div>
  				</div>
  				<div id="peel-lower">
  					<div id="get-your-own"></div>
  					<div id="explore-more"></div>
  					<div id="twitter"></div>
  					<div id="facebook"></div>
  					<div id="powered-by-onswipe"></div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div> -->

  <div id="container">
  	<div id="top">
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et lectus felis. Suspendisse mollis bibendum elementum. Curabitur mollis sodales condimentum. Proin pretium auctor tellus, vel blandit urna ultricies at. Quisque pulvinar erat quis enim congue in pretium ipsum interdum. Pellentesque sit amet augue quam, vel rhoncus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel nibh rhoncus mollis nec et tellus. Suspendisse interdum mattis placerat.</p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et lectus felis. Suspendisse mollis bibendum elementum. Curabitur mollis sodales condimentum. Proin pretium auctor tellus, vel blandit urna ultricies at. Quisque pulvinar erat quis enim congue in pretium ipsum interdum. Pellentesque sit amet augue quam, vel rhoncus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel nibh rhoncus mollis nec et tellus. Suspendisse interdum mattis placerat.</p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et lectus felis. Suspendisse mollis bibendum elementum. Curabitur mollis sodales condimentum. Proin pretium auctor tellus, vel blandit urna ultricies at. Quisque pulvinar erat quis enim congue in pretium ipsum interdum. Pellentesque sit amet augue quam, vel rhoncus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel nibh rhoncus mollis nec et tellus. Suspendisse interdum mattis placerat.</p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et lectus felis. Suspendisse mollis bibendum elementum. Curabitur mollis sodales condimentum. Proin pretium auctor tellus, vel blandit urna ultricies at. Quisque pulvinar erat quis enim congue in pretium ipsum interdum. Pellentesque sit amet augue quam, vel rhoncus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel nibh rhoncus mollis nec et tellus. Suspendisse interdum mattis placerat.</p>
  	</div>
  	<div class="bottom">
  		<div id="peel-upper">
  			<div id="view-desktop"></div>
  		</div>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et lectus felis. Suspendisse mollis bibendum elementum. Curabitur mollis sodales condimentum. Proin pretium auctor tellus, vel blandit urna ultricies at. Quisque pulvinar erat quis enim congue in pretium ipsum interdum. Pellentesque sit amet augue quam, vel rhoncus velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel nibh rhoncus mollis nec et tellus. Suspendisse interdum mattis placerat.</p>
  		<div id="peel-lower">
  			<div id="get-your-own"></div>
  			<div id="explore-more"></div>
  			<div id="twitter"></div>
  			<div id="facebook"></div>
  			<div id="powered-by-onswipe"></div>
  		</div>
  	</div>
  </div>

  <button id="open-peelable">Open Peelable</button>
  <button id="close-peelable">Close Peelable</button>
</body>

</html>