<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>{{title}}</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/{{title}}.css"/>
<script src="/javascripts/{{title}}.js"></script>
</head>

<body>
  <header>dev.jerometufte.me</header>
  <h1>radial-menu</h1>
  <h2>touch screen for menu options</h2>
  <div id="container"></div>
  <div id="position">0</div>
</body>

</html>