body, html {
	margin: 0;
	padding: 0;
	font-family: helvetica neue;
}
header {
	background-color: #7AC977;
	color: white;
	width: auto;
	height: 20px;
	font-size: 16px;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	left: 80px;
}
h1 {
	position: relative;
	float: left;
	font-size: 60px;
	font-family: helvetica neue;
	margin: 60px 0 60px 80px;
	padding: 0;
}
h2 {
	position: relative;
	float: left;
	font-size: 20px;
	vertical-align: baseline;
	margin: 100px 0 0 20px;
	padding: 0;
}
.bubbles {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
