body, html {
	margin: 0;
	padding: 0;
	font-family: helvetica neue;
}
header {
	background-color: #7AC977;
	color: white;
	width: auto;
	height: 20px;
	font-size: 16px;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	left: 80px;
}
h1 {
	position: relative;
	float: left;
	font-size: 60px;
	font-family: helvetica neue;
	margin: 60px 0 60px 80px;
	padding: 0;
}
h2 {
	position: relative;
	float: left;
	font-size: 20px;
	vertical-align: baseline;
	margin: 100px 0 0 20px;
	padding: 0;
}
#sliding-menu {
	display: block;
	width: 400px;
	height: 40px;
	border: 1px solid red;
	margin: 0 400px;
	overflow: hidden;
}
#sliding-menu ul {
	
}
#sliding-menu ul li {
	display: inline-block;
	width: 50px;
	height: 30px;
  border: 1px solid blue;
  margin: 5px 10px 0 10px;
  -webkit-transform: translate3d(-400px, 0, 0);
  -webkit-transition: -webkit-transform .6s ease;
}
#sliding-menu ul li:first-child {
	-webkit-transition-delay: .5s;
}
#sliding-menu ul li:nth-child(2) {
	-webkit-transition-delay: .4s;
}
#sliding-menu ul li:nth-child(3) {
	-webkit-transition-delay: .3s;
}
#sliding-menu ul li:nth-child(4) {
	-webkit-transition-delay: .2s;
}
#sliding-menu ul li:nth-child(5) {
	-webkit-transition-delay: .1s;
}
#sliding-menu.hot ul li {
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition-delay: .1s;
}












